# MAIN RULES
- This is a Next.js 15 project using react 19.
- The project is using Tailwind CSS for styling.
- The project is using Shadcn UI for components.
- Every time we need to run a Shadcn command run with `npx shadcn@latest`.
- Do everything using Shadcn whenever possible.
- It's Next.js so use Server Components when possibleAdd commentMore actions
- Use server actions when possible
- Use Next.js 15
- Try to add actions to existing files that contain similar logic. If not found, create a new one.
- Take into consideration the rules in /src/notepads/server-rules.md for server changes.
- Take into consideration the rules in src/notepads/frontend-forms-notepad-rules.md for frontend changes.

